# Puerto del servidor
PORT=8080

# Cadena de conexión a la base de datos MongoDB
DB_CNN=mongodb+srv://usuario:contraseña@ejemplo-mongodb.mongodb.net/?retryWrites=true&w=majority&appName=Ejemplo-App

# Host de la base de datos (normalmente localhost)
DB_HOST=localhost

# Nombre de la base de datos que se utilizará
DB_NAME=nombre_de_la_base_de_datos

# Entorno de ejecución de Node.js (dev, production, etc.)
NODE_ENV=development

# ID del cliente de GitHub para la autenticación
GITHUB_CLIENT_ID=tu_id_de_cliente_de_github

# Secreto del cliente de GitHub para la autenticación
GITHUB_CLIENT_SECRET=tu_secreto_de_cliente_de_github

# Método de persistencia de datos, en este caso, MongoDB
PERSISTENCE=MONGO

# Correo electrónico utilizado para enviar mensajes
EMAIL=tu_correo@ejemplo.com

# Contraseña generada por Gmail para aplicaciones (no es tu contraseña de Gmail)
PSW_EMAIL=tu_contraseña_email_generada_por_gmail

# URL base de la aplicación donde se puede acceder a ella
BASE_URL=http://localhost:8080/

# Secreto de la API de Cloudinary para la gestión de imágenes
CLOUDINARYAPISECRET=tu_secreto_de_cloudinary

# Nombre de la colección de productos en MongoDB
COLLECTION_NAME=products

