<div>
  <h1>Chequee su email</h1>

  <div> <a href="/"><button>Volver al login</button></a></div>

  <div>
    <br>
    <a href="/api/user/github"> <button type="submit">Entrar con GITHUB</button></a>
  </div>
</div>