<div>
    <h1>Recuperacion de Contraseña</h1>

    <div>
        <form action="/api/user/recoverwithemail" method="post">
            <label for="email">Correo</label><br>
            <input type="email" name="email" id="email" placeholder="Introduzca su correo">

            <button type="submit">Recuperar Contraseña</button>
        </form>
    </div>
</div>