<div>
  <h1>PERFIL DEL USUARIO</h1>
  <p>{{firstname}} {{lastname}}</p>
  <p>Edad: {{age}}</p>
  <p>Email: {{email}}</p>
  <div>
    <form action="/api/user/logout" method="get">
      <br />
      <button type="submit">Cerrar sesión</button>
    </form>
  </div>
  <a href="/products">Ir a ver los productos</a>
</div>
