<div>
  <h1>
    PERFIL DEL USUARIOs
  </h1>

  <p>{{this.lastname}}</p>

  <div>
    <form action="/api/session/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>
  <a href="/products">Ir a ver los productos</a>

</div>