<div>
  <h1>Recuperacion de Contrase単a</h1>

  <div>
    <form action="/api/session/recover-psw" method="post">
    <label for="email">Correo</label><br>
    <input 
      type="email"
      name="email"
      id="email"
      placeholder="Introduzca su correo"  
        >
    <label for="newpassword">Contrase単a</label>
    <input 
    type="password"
    name="newpassword"
    id="newpassword"
    placeholder="Introduzca su nueva contrase単a" 
      required >
    <br>

    <button type="submit">Actualizar Contrase単a</button>
    </form>
  </div>
</div>